{
  "printWidth": 150,
  "semi": false,
  "plugins": ["prettier-plugin-organize-attributes", "prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["tw", "clsx"]
}
