/*https://fonts.google.com/specimen/Roboto+Condensed?preview.text=ALGO-VISUALIZER*/
/* styles/fonts.css */
@font-face {
  font-family: 'RobotoCondensed';
  src: url('/public/fonts/RobotoCondensed-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --red: red;
    --background: white;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: #ACE9EC;
    --accent-foreground: 240 5.9% 10%;

    --violet: violet;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #202225;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

html.dark{
  .toggled{
    background-color: gray;
  }
}

.toggled{
  background-color: gray;
}



.wall{
  /*background-color: rgba(0, 0, 0, 0.86);*/
}


.emoji {
  font-size: 12px; /* Adjust as needed */
  line-height: 1; /* Prevents the emoji from increasing the height of the td */
}

@keyframes visitedAnimation {
  0% { background-color: var(--violet); }
  100% { background-color: var(--accent); }
}

.visited {
  animation-name: visitedAnimation;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}


@keyframes blink {
  0% { background-color: var(--accent); }
  50% { background-color: violet; }
  100% { background-color: var(--accent); }
}

.end-box {
  animation: blink 150ms ease-in-out infinite;
}

.start-box {
  background-color: var(--accent);
}


.emoji {
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
}




