@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RobotoCondensed';
  src: url('/public/fonts/RobotoCondensed-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



/* Colors */
:root {
  --glitch-dark: hsl(216, 68%, 9%);
  --glitch-blue: hsl(218, 66%, 21%);
  --glitch-green: hsl(170, 96%, 60%);
  --glitch-rose: hsl(302, 98%, 53%);
  --glitch-violet: hsl(263, 50%, 38%);
}

/* Light Mode */
html{
  --background: white;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: var(--glitch-green);
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 10% 3.9%;
  --radius: 0.5rem;
}

/* Dark Mode */
html.dark {
  --background: var(--glitch-dark);
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}


body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.5s ease;
}


.toggled {
  background-color: gray;
}


.start-box {
  background-color: var(--glitch-green);
}


.visited {
  animation-name: visitedAnimation;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}




/* Animations */

@keyframes visitedAnimation {
  0% { background-color: var(--glitch-blue) }
  15% { background-color: var(--glitch-violet) }
  50% { background-color: var(--glitch-rose) }
  100% { background-color: var(--glitch-green) }
}

@keyframes blink {
  0% { background-color: var(--glitch-green) }
  100% { background-color: var(--glitch-rose) }
}
@keyframes zoomIn {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

.animate-zoomIn {
  animation: zoomIn 2s ease-in-out;
}

h1 {
  transition: --dominant-color 0.5s ease;
}

.end-box {
  animation: blink 150ms ease-in-out infinite;
}

.flip-vertical {
  --transform-scale-y: -1;
}

.flip-vertical-none {
  --transform-scale-y: 0;
}

table{
  border-spacing: 0;
  border-collapse: collapse;
}
